.top-bar { 
    background-color: teal;
 } 

.content-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.anime-image{
    display: block;
    margin: 10px auto;
}

.anime-synopsis {
    margin: 10px 20px;
}

.music-btn {
    visibility: hidden;
    margin: 7px 0;
    border-radius: 5px;
}

.merch-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}

.watch-btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;

}

.music-btn:hover,
.merch-btn:hover {
    cursor: pointer;
}

#logo {
<<<<<<< HEAD
    width: 50%;
    height: 30px;
    z-index: 100; 
    background-color: #252e30;
}

.menu-text:hover {
    text-shadow: 3px 3px 10px #58a090;
    transition: all 0.3s ease-in-out;
=======
    width: 40px;
}

.top-bar li {
    font-family: 'Permanent Marker', cursive;
>>>>>>> d334ebf0ae82e51f6b7ee4922a7b64b801b237c1
}