.top-bar { 
    background-color: transparent;
 } 

.content-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.anime-image{
    display: block;
    margin: 10px auto;
}

.anime-synopsis {
    margin: 10px 20px;
}

.music-btn {
    margin: 7px 0;
    border-radius: 5px;
}

.merch-btn {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}

.watch-btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;

}

.music-btn:hover,
.merch-btn:hover {
    cursor: pointer;
}

#logo {
    width: 40px;
}

#logo:hover {
    cursor: pointer;
}

.top-bar li {
    font-family: 'Permanent Marker', cursive;
}

.top-bar:hover{
    cursor: pointer;
}

.dropdown {
    background-color: transparent !important;
}

.dropdown ul {
    background-color: #000000;
}

.dropdown li a {
    color: black !important;
}

.dropdown li a:hover{ 
    cursor: pointer;
}

.search-button:hover {
    cursor: pointer;
}