body {
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive; 
    display: flex;
    text-shadow: 3px 3px #000000;
    padding-left: 15px;
}

h3 {
    font-family:'Permanent Marker', cursive;
}

.top-bar {
    background-color: transparent;
    color: aliceblue;
    font-family:'Permanent Marker', cursive;
}

.search-menu {
    width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 0 auto;
}

.results {
    width: 500px;
    margin-right: 10px !important;
}

.search-menu li {
    list-style: none;
    font-family: 'Permanent Marker', cursive; 
    display: flex;
}

.search-button {
    background-color: aliceblue;
    color: black;
    font-family: 'Permanent Marker', cursive;
    padding: 5px;
    border-radius: 20px;
}

.music-btn {
    margin: 7px 0;
    border-radius: 5px;
}

.results {
    margin: 0 auto;
    border: 1px solid pink;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Permanent Marker', cursive;
}


.dropdown {
    background-color: transparent !important;
}

.dropdown ul {
    background-color: #000000;
}

.dropdown li a {
    color: aliceblue !important;
    text-shadow: 3px 3px #000000;
    font-size: 20px;
}

.dropdown li a:hover{ 
    cursor: pointer;
    color: violet;
}

.music-btn:hover,
.top-bar-left ul li a:hover,
.search-button:hover {
    cursor: pointer;
    color: violet !important;
}

.quoteContainer {
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;
    position: fixed;
}
