h1, h2 {
    font-family: 'Permanent Marker', cursive; 
    display: flex;
    text-shadow: 3px 3px #000000;
    padding-left: 15px;
}


.top-bar {
    background-color: transparent;
    color: aliceblue;
    font-family:'Permanent Marker', cursive;
}

.search-menu {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    align-items: center;
    height: 80vh;
    margin: 0px 0px 0px 700px;
}

.search-menu li {
    flex:1 0;
    list-style: none;
    margin: 5px;
    font-family: 'Permanent Marker', cursive; 
}

.search-button {
    background-color: aliceblue;
    color: black;
    font-family: 'Permanent Marker', cursive;
    background-color: #000000;
}



.results {
    margin: 0 auto;
    border: 1px solid pink;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Permanent Marker', cursive;
}



.dropdown {
    background-color: transparent !important;
}

.dropdown ul {
    background-color: #000000;
}

.dropdown li a {
    color: aliceblue !important;
    text-shadow: 3px 3px #000000;
    font-size: 20px;
}

.dropdown li a:hover{ 
    cursor: pointer;
}

.search-button:hover {
    cursor: pointer;
}